/*CSS document*/

body {
	background-color: #339900;
}

span {
	display: block;
}

.outline { 
	width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF; color: black; 
}
.top { 
	text-align: left; 
}
.bottom { 
	text-align: right; 
}

.shadow {
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	
}

.rounded {
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
	border-radius:10px;
}

.playingCard {
	margin: 0 auto;
	
}

.jackpot {
	padding-top: 60px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px 3px black;
}

